.home-page {
  display: flex;
  width: 60vw;
  flex-direction: column;
  margin-top: 10vh;
}

.loading-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3em;
}

.logo-container-loading > img {
  width: 150px;
  height: 150px;
}

.footer {
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  margin: 0 5px;
  color: white;
  font-weight: 700;
}

.footer svg {
  color: #61C9A3;
  margin:0 5px;
}

.hero-title {
  color: #61C9A3;
  font-size: 5em;
  margin: 3vh 0;
  text-align: center;
}

.welcome > h2 {
  border: none !important;
  margin: 0 !important;
}

.home-section > h2 {
  border-bottom: 2px solid #61C9A3;
  color: white;
  font-size: 2em;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.home-section {
  padding-bottom: 50px;
  margin-right: 30px;
}

.profile-div {
  position: relative;
  background-color: rgb(214, 214, 214);
  border-radius: 20px;
  display: flex;
  padding: 10px 20px;
  max-width: 700px;
  height: 200px;
}

.profile-image {
  font-size: 8em;
  border: 3px solid #00fb9f;
  border-radius: 100%;
}

.profile-image-blur {
  font-size: 8em;
  border: 3px solid #00fb9f;
  cursor: pointer;
  border-radius: 100%;
  opacity: 50%;
}

.profile-image-add {
  position: absolute;
  font-size: 2em;
  cursor: pointer;
  top: 60px;
  left: 67px;
  z-index: 1;
}

.profile-image-input {
  position: absolute;
  top: 145px;
  left: -20px;
  text-align: center;
  width: 200px;
  padding-left: 5px;
  border-radius: 5px;
  border: 2px solid black;
  outline: none;
}


.profile-info-div {
  display: flex;
  margin-top: 10px;
}

.profile-div > div:first-child {
  max-width: 150px;
}

.profile-div p {
  margin-top: .5em;
  margin-left: .9em;
  font-size: 1.3em;
  font-weight: 800;
}

.nickname {
  margin-top: .5em;
  margin-left: .3em;
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
}

.profile-div-edit span,
.ranking-div span {
  font-weight: 500;
}

.profile-div-edit {
  max-width: 200px;
}

.profile-div-edit input[type="text"],
.profile-div-edit input[type="text"]:focus {
  background-color: #00000000;
  border: none;
  border-bottom: 1px solid black;
  margin-left: 10px;
  max-width: 100px;
  font-size: .9em;
  outline:none;
}

.profile-div-edit > svg {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 20px;
  display: none;
}

.show {
  display: block !important;
}

.quick-access button {
  width: 150px;
  height: 100px;
  padding: 10px;
  margin: 10px 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.question-card {
  display: inline-block;
  width: 150px;
  height: 130px;
  padding: 20px;
  margin: 20px;
  background-color: rgb(71, 71, 71);
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
}

.question-card p:first-child {
  margin-bottom: 20px;
}

.home-section .leaderboard {
  max-width: 1000px;
  margin: 20px;
  margin-top: 40px;
}

.ranking-div {
  margin-left: 40px;
}

.leaderboard-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 750px) {
  .profile-div {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .profile-info-div p {
    margin: 10px 0;
  }

  .profile-image-add {
    left: calc(50% - 16px);
  }
}