@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.page {
  background-color: #292929;
  width: 100vw;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1F1F1F;
  padding: 2px;
  border-radius: 58px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3),
    0px 0px 0px 20px rgba(3, 107, 82, 0.3);
}

.container label {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.5em;
}

.passwordOptions {
  position: absolute;
  right: 20%;
  top: 52%;
  background-color: #292929;
  color: white;
  padding: 20px 40px;
  border-radius: 30px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3),
    0px 0px 0px 5px rgba(3, 107, 82, 0.3);
}

.passwordOptions p {
  color: white !important;
}

.container p {
  color: #8F8F8F;
  text-decoration: underline;
  font-size: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.loginInput {
  width: 400px;
  height: 60px;
  padding: 5px;
  border-radius: 12px;
  font-size: 25px;
  margin-bottom: 15px;
}

.loginInput:focus {
  outline: 2px solid #2FC18C;
}

.signInBot {
  width: 400px;
  height: 60px;
  border-radius: 12px;
  font-size: 25px;
  margin: 15px;
  background-color: #61C9A3;
}

.imgContainer {
  position: relative;
  text-align: center;
  margin-bottom: 3vh;
}

.imgContainer img {
  width: 229;
}

.imgContainer h1 {
  position: absolute;
  color: #2FC18C;
  font-family: 'Press Start 2P', cursive;
  font-size: 70px;
  top: 10%;
  left: -25%;
}