.quiz-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.quiz-question {
  background-color: #E4E4E4;
  width: 65vw;
  height: 20vh;
  margin-bottom: 25px;
  border-radius: 15px;
  padding: 25px;
}

.quiz-question h2 {
  width: 100%;
  height: 80%;
  display: grid;
  place-items: center;
}

.next-prev-buttons {
  display: flex;
  width: 40vw;
  margin-top: 5vh;
  height: 50px;
  justify-content: space-around;
}

.next-prev-buttons button {
  width: 200px;
  height: 50px;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 5px;
}

.voltar-menu {
  width: 200px;
  height: 50px;
  border: none;
  font-size: 1em !important;
  cursor: pointer;
  border-radius: 5px;
}

.quiz-bot-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 30vh;
  width: 80vw;
}

.quiz-bot {
  background-color: #E4E4E4;
  border: none;
  border-radius: 15px;
  font-size: 1.5em;
  cursor: pointer;
  width: 40%;
  height: 40%;
  margin: 10px;
}

.quiz-selected {
  border: 2px solid white;
}

.wrong-quiz {
  color: #E4E4E4;
  background-color: #e63946;
}

.right-quiz {
  color: #E4E4E4;
  background-color: #61C9A3;
}