.select-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 5vh;
}

a {
  text-decoration: none;
}

.hero-title {
  color: #61C9A3;
  text-align: center;
  font-size: 5em;
  margin: 5vh 0;
}

.select-difficulty {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 350px;
}

.dificulty-button {
  display: flex;
  border: none;
  padding-left: 20px;
  color: white;
  cursor: pointer;
  border-radius: 0;
  border-bottom: 2px solid white;
  font-size: 2em;
  background-color: transparent;
  z-index: 10;
}

.type-cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.backpage {
  align-items: center;
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  z-index: -1;
}

.on-active-card {
  background-color: rgba(0, 0, 0, 0.788);
  filter: blur(8px);
  z-index: 6;
}

.active-card {
  display: flex;
  top: 25%;
  position: fixed;
  z-index: 10;
}

.card-container {
  align-items: center;
  background-color: #383838;
  border: 5px solid #036B52;
  border-radius: 30px;
  color: white;
  display: flex;
  height: 400px;
  flex-direction: column;
  font-size: 1.6em;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  transition: 1s ease;
  width: 350px;
  z-index: 5;
}

.type-title {
  background-color: #383838;
  padding-bottom: 15px;
  z-index: 5;
}

.type-info p {
  margin: 15px 0;
}

.card-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.star-container {
  display: flex;
  align-items: center;
}

.card-container svg {
  margin: 15px 0;
  color: #C4C4C4;
}

.card-container button{
  width: 400px;
  border: none;
  background-color: #61c9a3;
  color: white;
  display: none;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}

.type-container {
  width: 400px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  width: 400px;
  height: 480px;
}

.progress {
  position: absolute;
  top: 0;
  right: 5%;
  width: 15%;
  color: #61c9a3;
  z-index: 6;
}

.selected .progress {
  top: auto;
  right: auto;
  bottom: 30%;
  width: 40%;
  z-index: 1;
}

.selected button{
  display: block;
}
