.select-page {
  align-items: center;
  background-color: #292929;
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100vw;
}

.hero-title {
  color: #61C9A3;
  font-size: 5em;
}

.type-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.type-container {
  align-items: center;
  background-color: #383838;
  border: 5px solid #036B52;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  overflow: hidden;
  position: relative;
  transition: 1s ease;
  width: 300px;
  z-index: 5;
}

.type-title {
  background-color: #383838;
  z-index: 5;
}

.type-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.star-container {
  display: flex;
  align-items: center;
}

.type-container svg {
  margin: 15px 0;
  color: #C4C4C4;
}

.type-container button{
  border: none;
  color: white;
  display: none;
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
}

.active {
  height: 460px;
}

.progress {
  position: absolute;
  top: 0;
  right: 5%;
  width: 15%;
  color: #61c9a3;
  z-index: 6;
}

.active .progress {
  top: auto;
  right: auto;
  bottom: 30%;
  width: 40%;
  z-index: 1;
}

.active button{
  display: block;
}
