.select-page {
  align-items: center;
  background-color: #292929;
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100vw;
}

.hero-title {
  color: #61C9A3;
  font-size: 5em;
}

.type-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.type-container {
  align-items: center;
  background-color: #383838;
  border: 5px solid #036B52;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  overflow: hidden;
  transition: 1s ease;
  width: 300px;
  height: 200px;
}

.type-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.star-container {
  display: flex;
  align-items: center;
}

.type-container svg {
  margin: 15px 0;
  color: #C4C4C4;
}

.type-container button {
  border: none;
  color: white;
  display: none;
  font-size: 2em;
  font-weight: 700;
}

.active {
  height: 400px;
}

.active button {
  display: block;
}
